.active{
	color: darkgoldenrod;
}
.first{
	color: aliceblue;
	text-decoration: none;
}
.threeFriend{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-column-gap: 10px;

}
.link{
	text-decoration: none;
	color: brown;
}
.circle{
	border-radius: 100%;
}
